.copyButton {
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  flex-shrink: 0;
  color: var(--brand-secondary-text);
  opacity: 1;
}

.copyButton:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid currentColor;
  border-radius: 10px 14px 8px 12px / 14px 8px 12px 10px;
  color: var(--brand-primary);
  opacity: 1;
  transform: scale(1.05);
}

.copyButton:active {
  transform: scale(0.95);
}

.copyButtonIcons {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
}

.copyButtonIcon,
.copyButtonSuccessIcon {
  position: absolute;
  top: 0;
  left: 0;
  fill: currentColor;
  opacity: inherit;
  width: inherit;
  height: inherit;
  transition: all 0.15s ease;
}

.copyButtonSuccessIcon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.33);
  opacity: 0;
  color: #00d600;
}

.copyButtonCopied .copyButtonIcon {
  transform: scale(0.33);
  opacity: 0;
}

.copyButtonCopied .copyButtonSuccessIcon {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-delay: 0.075s;
}