.statBox {
  background: var(--mina-light-gray);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
}

.icon {
  margin-bottom: 0.25rem;
}

.value {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--brand-primary);
  margin-bottom: 0.25rem;
}

.label {
  font-size: 0.875rem;
  color: var(--color-text-muted);
}