.statBox {
  background: var(--mina-light-gray);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
}

.icon {
  width: 0.79rem;
  height: 0.79rem;
  margin-bottom: 0.25rem;
}

.value {
  font-size: 1rem;
  font-weight: 700;
  color: var(--brand-primary);
  line-height: 1rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--brand-secondary-text);
  line-height: normal;
  text-align: center;
}